a {
    text-decoration: unset;
    color: #101216;
}
body {
    padding: 0 120px;
    min-width: 1440px;
}
/** common **/
/** button **/
.btn-type01{
    /*margin-top:50px;*/
    margin: auto;
    padding: 10px 0;
    width: 100%;
    /*height: 48px;*/
    text-align: center;
    color: #fff;
    background: #2663FF;
    border-radius: 9999px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    border: 1px solid #2663FF;
}

.btn-type01:disabled {
    background: #C9CED9;
    color: #A8ADBC;
    border: 1px solid #C9CED9;
}

.certification-type {
    max-width: 192px;
}
/** input **/
.inpWrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    width: 100%;
}
.inpWrap label{
    margin: auto;
    min-width: 70px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: right;
    color: #4A546A;
}

.inpWrap .inpBox {
    width: 100%;
    height: 48px;
    padding-left: 20px;
    border: 1px solid #A8ADBC;
    border-radius: 9999px;
    box-sizing: border-box;
}

.chkWrap {
    display: flex;
    gap: 8px;
    width: 100%;
}

.chkWrap label {
    line-height: 28px;
}

.chkWrap input {
    width: 20px;
    height: 20px;
    border: 1px solid #A8ADBC;
    border-radius: 4px;
}

/** typography **/
.txt-small {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.txt-normal {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.txt-large {
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    color: #6F778D;
}

.section-sub-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 48px;
}

.main .section-title{
    color: #101216;
}

.txt-footer {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #576179;
}

/** Box **/
.boxWrap {
    border: 1px solid #C9CED9;
    border-radius: 8px;
}

/** Header Area **/
.header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 32px 120px;
    /*width: 100%;*/
    border-bottom: 1px solid #C9CED9;;
}

.header-wrap .header-left {
    display: flex;
}

.header-wrap .header-left .logo-wrap {
    margin: auto 0;
}

.header-wrap .header-left .search-wrap {
    position: relative;
    display: flex;
    margin-left: 87px;
}

.header-wrap .header-left .search-wrap::before {
    position:absolute;
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    background-image: url("../assets/ico/ico_search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-wrap .header-left .search-wrap .search {
    padding-left: 52px;
    width: 332px;
    height:48px;
    border :1px solid #2663FF;
    border-radius: 999px;

}

.header-wrap .menu-wrap {
    display: flex;
    gap: 20px;
    margin: auto 0;
}

.header-wrap .menu-wrap a {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

/** Footer Area **/
.footer-area {
    /*position:absolute;*/
    display: flex;
    flex-direction: column;
    padding: 80px 120px 120px;
    /*width: 100%;*/
    bottom: 0;
    left:0;
    background-color: #EAEBF2;
}

.footer-area .footer-top {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer-area .footer-top a {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #101216;
}

.footer-area .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:40px;
}

.footer-area .footer-bottom .footer-left .company-wrap .company-info {
    margin-top: 20px;
}

.footer-area .footer-bottom .footer-left .company-wrap .company-info span{
    display: block;
}

/** Common Area **/
.containerWrap.sub {
    padding: 0 120px;
}