/** dummy **/
.dummyBox {
    width: 100%;
    height: 748px;
    background: #E2E2E2;
    background-image: url("../assets/dummy/img_mainvisual.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.mainVisual {
    position: relative;
    display: flex;
    justify-content: center;
    /*padding-bottom: 120px;*/
    background-color: #FAFAFF;
}

.mainVisual .btnList {
    position: relative;
    width: 0;
    top: 36px;
    right: 111px;
    color: #fff;

}

.mainVisual .btnList::before {
    position: absolute;
    display: block;
    content: '';
    width: 272px;
    height: 748px;
    top: -36px;
    right: 0;
    background-image: url("../assets/bg/main/main_circle_line.png");
}

.mainVisual .btnList .btnItem {
    position: relative;
    width: 0;
    min-height: 184px;
}

.mainVisual .btnList .btnItem:first-child{
    margin-top: 12px;
    min-height: 240px;
}

.mainVisual .btnList .btnItem:last-child {
    margin-top: 16px;
}

.mainVisual .btnList .btnItem:first-child .mainCircle{
    margin-top: 0;
    width: 240px;
    height: 240px;
    left: -255px;
    top: 0px;
    background: linear-gradient(180deg, #2663FF 0%, #003DF0 100%);
}

.mainVisual .btnList .btnItem .mainCircle {
    position: absolute;
    width: 160px;
    height: 160px;
    background: linear-gradient(180deg, #6F778D 0%, #4A546A 100%);
    border-radius: 999px;
    left: -214px;
    top:44px;
}

.mainVisual .btnList .btnItem .mainCircle.reserve img {
    margin: 41px auto 0 82px;
}

.mainVisual .btnList .btnItem .mainCircle img {
    margin: 22px auto 0 60px;
}


.mainVisual .btnList .btnItem .mainCircle.reserve .bigCircleTitle {
    margin-top: 14px;
    font-size: 28px;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
}

.mainVisual .btnList .btnItem .mainCircle.reserve .bigCircleDesc {
    font-weight: 400;
    text-align: center;
}

.mainVisual .btnList .btnItem .mainCircle .circleTitle {
    margin-top: 8px;
    text-align: center;
}
.mainVisual .btnList .btnItem .mainCircle .circleDesc {
    margin-top: 8px;
    text-align: center;
}


.section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px 120px;
    background-color: #F7F8FF;
}

.sectionWh {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 120px;
}

.sectionWh.categoryList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #C9CED9;
    padding-top:94px;
    /*padding-bottom: 94px;*/
}

.sectionWh.categoryList .categoryItem {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    text-align: center;
}

.sectionWh.categoryList .categoryItem span{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #4A546A;
}

.sectionWh.categoryBoxList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    border-bottom: 1px solid #C9CED9;
    padding-top:94px;
    padding-bottom: 148px;
}
.sectionWh.categoryBoxList .categoryBoxItem {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 18%;
    border: 1px solid #A8ADBC;
    border-radius: 20px;
    text-align: center;
}

.sectionWh.categoryBoxList .categoryBoxItem img {
    margin:auto
}

.sectionWh.categoryBoxList .categoryBoxItem span{
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #4A546A;
}

.sectionWh .sectionTitleWrap, .section .sectionTitleWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 28px;
    width: 100%;
}

.sectionWh .videoWrap {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 100%;
}

.sectionWh .sectionTableWrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 148px;
    width: 100%;
}

.sectionWh .sectionTableWrap .sectionTableItemWrap {
    padding: 20px;
    width: 100%;
    border: 1px solid #E8EBDB;
    border-radius: 20px;
}

.sectionWh .sectionTableWrap .sectionTableItemWrap table {
    width: 100%;
}

.sectionWh .sectionTableWrap .sectionTitleWrap {
    margin-top: 0;
    width: 100%;
}

.sectionWh .sectionTableWrap .sectionTitleWrap p {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
}

.sectionWh .sectionTableWrap .sectionTitleWrap p:first-child {
    position: relative;
    padding-left: 45px;
}

.sectionWh .sectionTableWrap .sectionTitleWrap p:first-child::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 10px;
    width: 24px;
    height: 24px;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/ico/ico_speaker.png");
}

.sectionWh .sectionTableWrap .sectionTitleWrap p:nth-child(2) {
    margin: auto 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.sectionWh .sectionTableWrap tbody tr {
    padding: 5px 20px;
    width: 100%;
    border-bottom: 1px solid #A8ADBC;
}

.sectionWh .sectionTableWrap tbody tr:last-child {
    border-bottom: none;
}

.sectionWh .sectionTableWrap tbody tr td {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 5px 10px 5px 20px;
}

.sectionWh .sectionTableWrap tbody tr td:nth-child(2) {
    padding: 5px 20px 5px 10px;
}

.sectionWh .sectionTableWrap tbody tr.tableNotice td {
    font-weight: 700;
}

.sectionWh .sectionTableWrap tbody tr td.tableTitle {
    width: 75%;
    text-align: left;
}

.sectionWh .sectionTableWrap tbody tr td.tableDate {
    margin-left:20px;
    width: 25%;
    text-align: right;
}

.section.companyList {
    display: flex;
    justify-content: space-between;
    margin-top: 148px;
    /*width: 100%;*/
}
