.sectionTitle {
    margin-top: 175px;
    text-align: center;
}

.certificationDescription {
    margin: 10px 0 40px 100px;
    color: #F52C1A;
    font-weight: 400;
}

.findIdBox {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.findIdBox p:first-child {
    font-weight: 700;
    color: #4A546A;
}

.findIdBox p:last-child {
    font-weight: 400;
}

.findIdLogin {
    display: block;
    margin: 40px auto 72px;
    width: calc( 100% - 370px );
}