.sectionTitle {
    margin-top: 175px;
    text-align: center;
}

.findPwdWrap label{
    min-width: 100px;
}

.successDescription {
    margin: 10px 0 40px 130px;
    color: #2663FF;
    font-weight: 400;
}

.failDescription {
    margin: 10px 0 40px 130px;
    color: #F52C1A;
    font-weight: 400;
}

.findPwdLogin {
    display: block;
    margin: 40px auto 72px;
    /*width: calc( 100% - 370px );*/
}