.sectionTitle {
    margin-top: 175px;
    text-align: center;
}

.socialBtnWrap {
    margin-top: 76px;
}

.socialBtnWrap .socialBtn {
    display: block;
    position: relative;
    margin-top: 12px;
    padding: 12px 0;
    color: #000;
    background: #fff;
    border: 1px solid #A8ADBC;
    border-radius: 9999px;
}

.socialBtnWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding-bottom: 48px;
    border-bottom: 1px solid #C9CED9;
}

.socialBtnWrap .socialBtn {
    paddinf-left: 40px;
    min-width: 288px;
}

.socialBtnWrap .socialBtn::before {
    position:absolute;
    display: block;
    content: '';
    top: 50%;
    left: 10px;
    width: 40px;
    height: 40px;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.socialBtnWrap .socialBtn.naver::before {
    background-image: url("../../assets/ico/ico_naver.png");
}

.socialBtnWrap .socialBtn.kakao::before {
    background-image: url("../../assets/ico/ico_kakao.png");
}

.socialBtnWrap .socialBtn.google::before {
    background-image: url("../../assets/ico/ico_google.png");
}

.socialBtnWrap .socialBtn.apple::before {
    background-image: url("../../assets/ico/ico_apple.png");
}

.signupEmailWrap {
    margin-top:48px;
}