.sectionTitle {
    margin-top: 175px;
    text-align: center;
}

.socialBtnWrap {
    margin-top: 76px;
}

.socialBtnWrap .socialBtn {
    display: block;
    position: relative;
    margin-top: 12px;
    padding: 12px 0;
    color: #000;
    background: #fff;
    border: 1px solid #A8ADBC;
    border-radius: 9999px;
}

.socialBtnWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding-bottom: 48px;
    border-bottom: 1px solid #C9CED9;
}

.socialBtnWrap .socialBtn {
    paddinf-left: 40px;
    min-width: 288px;
}

.socialBtnWrap .socialBtn::before {
    position:absolute;
    display: block;
    content: '';
    top: 50%;
    left: 10px;
    width: 40px;
    height: 40px;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.socialBtnWrap .socialBtn.naver::before {
    background-image: url("../../assets/ico/ico_naver.png");
}

.socialBtnWrap .socialBtn.kakao::before {
    background-image: url("../../assets/ico/ico_kakao.png");
}

.socialBtnWrap .socialBtn.google::before {
    background-image: url("../../assets/ico/ico_google.png");
}

.socialBtnWrap .socialBtn.apple::before {
    background-image: url("../../assets/ico/ico_apple.png");
}

.signupEmailWrap {
    margin-top:48px;
}

.signupEmailWrap label{
    min-width: 140px;
}

.signupEmailWrap .subTitle {
    margin-top: 48px;
    color: #6F778D;
    text-align: center;
}

.customSwitch {
    width: 100%;
}
/*.customSwitch {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    gap: 0.5rem;*/
/*    cursor: pointer;*/
/*}*/

.customSwitch [type="checkbox"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid #6F778D;
    background-color: #6F778D;
    border-radius: 1.25em;
    width: 44px;
    height: 24px;
}

.customSwitch [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: #fff;
    transition: left 250ms linear;
}

.customSwitch [type="checkbox"]:checked {
    background-color: #2663FF;
    border-color: #2663FF;
}

.customSwitch [type="checkbox"]:checked::before {
    background-color: #fff;
    left: 20px;
}

.checkPattern {
    position: relative;
    margin-top: 4px;
    margin-left: 170px;
    padding-left: 20px;
    color: #868EA1;
}

.passPattern::before {
    position:absolute;
    display: block;
    content: '';
    top: 50%;
    left: 0px;
    width: 12px;
    height: 12px;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/ico/ico_success.png");
}

.failPattern::before {
    position:absolute;
    display: block;
    content: '';
    top: 50%;
    left: 0px;
    width: 12px;
    height: 12px;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/ico/ico_fail.png");
}

.signupDesc {
    margin-top: 4px;
    margin-left: 170px;
    font-weight: 400;
    color: #2663FF;
}
.signupDescFail {
    margin-top: 4px;
    margin-left: 170px;
    font-weight: 400;
    color: #F52C1A;
}

.smsWrap {
    margin-top: 16px;
}

.allTerm {
    margin-top: 50px;
}

.allTerm .termItem {
    width: 100%;
    font-weight: 400;
    color: #101216;
}

.termItem {
    display: flex;
    width: 100%;
}

.termItem > label {
    margin-left: 8px;
}

.termItem input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

.termItemWrap {
    margin-top: 14px;
}

.termItemWrap > .termGroup{
    width: 100%;
}

.termItemWrap .termGroup .termItem label {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #101216;
}

.termItem .termAge {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #101216;
}

.btnSignup {
    margin-bottom: 175px;
}


.socialSignupHeader {
    margin-top: 72px;
    text-align: center;
}

.socialSignupHeader .socialSignupDesc {
    margin-top: 12px;
    font-weight: 400;
    color: #101216;
}

.socialSignupHeader .socialEmail {
    margin: 48px auto 0 auto;
    padding: 20px 60px;
    width: 600px;
    border: 1px solid #C9CED9;
    border-radius: 8px;
    box-sizing: border-box;
}

.termWrap {
    padding: 0 300px;
    text-align: center;
}